.topControls {
  background-color: #ccc;
  box-shadow: 0 10px 20px inset #aaa, 0 -5px 10px inset #bbb;
  border-bottom: 1px solid #777;
}

.groupButtons {
  display: flex;

  .wide {
    width: 56px;
  }

  & > button {
    width: 46px;
    margin-right: -5px;

    &:last-of-type {
      margin-right: 5px;
    }
  }
}

.spacer {
  flex-grow: 1;
}
