html,
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

button {
  padding: 10px;
  display: block;
  margin: 2px;
  background-color: lightgray;
  border-radius: 2px;
  border: 2px outset silver;
  transition: all ease-out 0.2s;
}

button.selected {
  background-color: gray;
  color: lightgray;
  font-weight: bold;
}

button:active {
  background-color: white;
  border: 2px inset silver;
}

/* --------------------------------------------------------------- */

/* CONTROLS */

.controls {
  margin: 3px;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
}

/* TITLE */

h2 {
  margin: 2px 2px 0 2px;
  padding: 3px 6px;
  font-size: 28px;
  font-weight: 100;
  background-color: black;
  color: #fff;
}

/* SEARCH */

.external-search {
  padding: 5px;
  margin-top: 0;
}

.external-search a {
  display: inline-block;
  padding: 2px;
  color: var(--fbc-blue-60);
}

/* TAB BUTTONS */

.tab-buttons {
  display: flex;
  gap: 0;
  border-bottom: 2px solid lightgray;
  padding: 0 6px;
}

.tab-buttons button {
  border-bottom: 0;
  margin: 0;
  background-color: lightgray;
  position: relative;
  z-index: 1;
  top: 2px;
  margin-left: -2px;
}

.tab-buttons button.selected {
  background-color: white;
  color: black;
}

/* JSON DATA */

.json-data {
  list-style: none;
  margin: 10px 5px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: calc(100% - 10px);
  border-radius: 3px;
  font-size: 16px;
  line-height: 18px;
  min-height: 18px;
  opacity: 0.2;
  filter: grayscale(1) sepia(1) brightness(0.2);
}

.json-data:hover {
  opacity: 1;
  filter: none;
}

.json-data li {
  margin: 2px;
  padding: 1px 4px;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.json-data li.space-after {
  margin-right: 6px;
}

.json-data li.disabled,
.json-data li.disabled label {
  color: darkgray;
}

.json-data li label {
  color: darkred;
  padding: 0 5px 0 0;
  display: block;
}

.json-data li label::after {
  content: ':';
}

.json-data li span {
  word-break: break-all;
}

.json-data li .number {
  color: darkorange;
}

.json-data li .string {
  color: darkcyan;
}

/* INDIVIDUAL JSON DATUM ELEMENTS */

#current-song-title {
  font-weight: bold;
}

/* SONG LIST */

ul.song-list {
  padding-left: 20px;
}

.song-list h3 {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: normal;
}

.song-list .actions {
  display: flex;
  font-size: 16px;
}

.song-list .details label {
  font-weight: bold;
}

/* LOADER */

.load-indicator {
  position: fixed;
  top: 0;
  right: 0;
  background-color: black;
  font-size: 12px;
  color: white;
  padding: 2px 4px;
  display: none;
}

body.loading .load-indicator {
  display: block;
}

/* RESPO */

@media only screen and (max-width: 600px) {
  button {
    padding: 15px;
  }

  h2 {
    padding: 8px 16px;
  }

  .song-list h3 {
    flex-direction: column;
    align-items: flex-start;
  }

  .song-list .actions {
    width: calc(100% - 5px);
    margin: 2px 0 5px 0;
    justify-content: flex-end;
  }
}
