.button {
  padding: 10px;
  margin: 2px;
  background-color: lightgray;
  border-radius: 2px;
  border: 2px outset silver;
  text-decoration: none;
  transition: all ease-out 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

a.button {
  color: #003eaa;
}

.button.selected {
  background-color: gray;
  color: lightgray;
  font-weight: bold;
  box-shadow: 5px 5px 5px inset #777;
  border-top-color: #555;
  border-left-color: #555;
  border-bottom-color: #eee;
  border-right-color: #eee;

  & > svg {
    fill: currentColor;
  }
}

.button:active:not([disabled]) {
  background-color: white;
  border: 2px inset silver;
}

.disabled {
  filter: grayscale(1);
  opacity: 0.75;
  cursor: not-allowed;
}
